<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Обновление профиля</title>
</head>

<body>
<div th:replace="~{general :: page-header}"></div>
<h2>Обновление профиля</h2>

<div class="container min-vh-100 d-flex justify-content-center align-items-start pt-4">
  <!-- Контейнер колонки (5/12 ширины на средних экранах) -->
  <div class="col-md-5 mb-4 mb-md-0">

    <!-- Карточка с тенью -->
    <div class="card shadow">

      <!-- Тело карточки -->
      <div class="card-body">

        <!-- Заголовок формы -->
        <h3 class="card-title mb-4">Введите свои новые данные</h3>

        <!-- Форма входа -->
        <form th:action="@{/profile/update}" method="post">

          <div class="alert alert-danger" th:if="${error}" >
            <span th:text="${error}"></span>
          </div>
          <!-- Поле для логина -->
          <div class="mb-3">
            <label for="profileUsername" class="form-label">Логин</label>
            <input type="text"
                   class="form-control"
                   id="profileUsername"
                   name="login">
          </div>

          <!-- Поле для имени -->
          <div class="mb-3">
            <label for="profileFullName" class="form-label">Имя</label>
            <input type="text"
                   class="form-control"
                   id="profileFullName"
                   name="name">
          </div>

          <!-- Поле для пароля -->
          <div class="mb-4">
            <label for="profilePassword" class="form-label">Пароль</label>
            <input type="password"
                   class="form-control"
                   id="profilePassword"
                   name="password">
          </div>

          <!-- Кнопка отправки формы -->
          <button type="submit" class="btn btn-primary w-100">
            Изменить
          </button>

        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>